/* styles.css */
:root {
    --marvelsoft-logo-red: #BD1E2C;
}


html{
    font-size: 0.7rem;
}
body{
    margin:0;
    padding: 0;
    display:flex;
    justify-content:center;
}
.container{
    margin-top: 5rem;
    display:flex;
    flex-direction:column;
    width: 30%;
    height: 70vh;
}
.msg{
    color: var(--marvelsoft-logo-red);
    font-size: 2rem;
}
.msgCtn{
    margin: 1rem 0;
    color: white;
    padding: 1rem 1rem;
    background-color: var(--marvelsoft-logo-red);
    border-radius: 6px;
    font-size: 2rem
}
.messageForm{
    display:flex;
    flex-direction:row;
}
.input{
    height: 100%;
    flex: 4;
    margin-right: 2rem;
    border:none;
    border-radius: .5rem;
    padding: 2px 1rem;
    font-size: 1.5rem;
    background-color:aliceblue;
}
.input:focus{
    background-color:white;
}
.btn{
    height:5rem;
    flex: 1;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: .5rem;
    background-color:var(--marvelsoft-logo-red);;
    color: whitesmoke;
    border:none;
    font-size: 1.6rem;
}

/* Style for the login form */
.loginForm {
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loginForm input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginForm button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the chat container (hidden initially) */
#chatContainer {
    display: none;
}